<% if params[:flash] == "welcome_msg" then %>
<p class="notice"><strong>Thank for you choosing to become a HeatSync Labs member!</strong> As we foster this community of learning, science, and the arts every member is important. <br/><br/>
You can get your payments started by following the instructions on this page. <strong>Please note electronic recurring payments are -highly- encouraged</strong>-- we do not have staff. If you must pay via cash/check, please consider prepaying for 3, 6 or 12 months up front.<br/>
<strong>To claim member benefits</strong> such as storage, grab a volunteer during your next stop into HeatSync or schedule a time to meet up in advance. Someone should also be contacting you shortly via the email address you provided.<br/>
Please also note that certain privileges like 24/7 card access require community approval.<br/>
Thanks again, and happy hacking!</p>
<% end %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => html) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :emergency_name, "Emergency contact" %><br />
    <%= f.text_field :emergency_name %>
  </div>
  <div class="field">
    <%= f.label :emergency_phone %><br />
    <%= f.text_field :emergency_phone %>
  </div>
  <div class="field">
    <%= f.label :emergency_email %><br />
    <%= f.text_field :emergency_email %>
  </div>
  <div class="field">
    <%= f.label :member_level, "Membership Level" %><br />
    <%= f.select :member_level, [[nil],["None",0],["Unable",1],["Volunteer",10],["Associate ($25)",25],["Basic ($50)",50],["Plus ($100)",100]]  %>
  </div>
  <div class="field">
    <%= render :partial => "/users/payment_methods", :locals => { :g => f } %>
  </div>
  <div class="field">
    <%= f.label :current_skills %><br />
    <%= f.text_area :current_skills %>
  </div>
  <div class="field">
    <%= f.label :desired_skills %><br />
    <%= f.text_area :desired_skills %>
  </div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <% if params[:action]!='new' %>
  <div><%= f.label :current_password %><br />
  <%= f.password_field :current_password %></div>
  <% end %>

  <div><%= f.submit button_label %></div>

<% end %>
