<h2>Edit Your Profile</h2>

<%= devise_error_messages! %>

<div class="payment_links">
<% if resource.payment_method == "Dwolla" %>
<h3>Dwolla Payment Link</h3>
  <% if resource.member_level == "25" %>
    <strong>Associate Membership ($25/mo):</strong>
    <a href="http://members.heatsynclabs.org/users/edit" class="dwolla_button" data-name="Associate Membership" data-desc="$25/month membership" data-amount="25" data-shipping="0" data-tax="0" data-key="8nMi2WmI7F8uXVlSNNDmX2o2Cgh9Af8dfJGIrd7ZrgyjNfLIxj">Subscribe</a>
  <% elsif resource.member_level == "50" %>
    <strong>Basic Membership ($50/mo):</strong>
    <a href="http://members.heatsynclabs.org/users/edit" class="dwolla_button" data-name="Basic Membership" data-desc="$50/month membership" data-amount="50" data-shipping="0" data-tax="0" data-key="8nMi2WmI7F8uXVlSNNDmX2o2Cgh9Af8dfJGIrd7ZrgyjNfLIxj">Subscribe</a>
  <% elsif resource.member_level == "100" %>
    <strong>Plus Membership ($100/mo):</strong>
    <a href="http://members.heatsynclabs.org/users/edit" class="dwolla_button" data-name="Plus Membership" data-desc="$100/month membership" data-amount="100" data-shipping="0" data-tax="0" data-key="8nMi2WmI7F8uXVlSNNDmX2o2Cgh9Af8dfJGIrd7ZrgyjNfLIxj">Subscribe</a>
  <% else %>
    Hmm, your membership level doesn't appear to be at $25/50/100...
  <% end %>
<script type="text/javascript" src="https://www.dwolla.com/scripts/button.min.js"> </script>
<% elsif resource.payment_method == "PayPal" %>
<h3>PayPal Payment Link</h3>
  <% if resource.member_level == "25" %>
    <strong>Associate Membership ($25/mo):</strong>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="SZWVLPAG79XCN">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  <% elsif resource.member_level == "50" %>
    <strong>Basic Membership ($50/mo):</strong>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="GEAMCMZZKC4AW">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  <% elsif resource.member_level == "100" %>
    <strong>Plus Membership ($100/mo):</strong>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="L7XVC2GUJJR5A">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  <% else %>
    Hmm, your membership level doesn't appear to be at $25/50/100...
  <% end %>
<% elsif resource.payment_method == "BillPay" %>
<h3>Bill Pay Info</h3>
<p>Have your bank send a monthly check to HeatSync Labs Treasurer, 140 W Main St, Mesa AZ 85201 <strong>Electronic or advance payments are appreciated!</strong></p>
<% elsif resource.payment_method == "Check" %>
<h3>Check Payment Info</h3>
<p>Mail to HeatSync Labs Treasurer, 140 W Main St, Mesa AZ 85201 OR put in the drop safe at the Lab with a deposit slip firmly attached each month. <strong>Electronic or advance payments are appreciated!</strong></p>
<% elsif resource.payment_method == "Cash" %>
<p>Put in the drop safe at the Lab with a deposit slip firmly attached each month.  <strong>Electronic or advance payments are appreciated!</strong></p>
<% else %>
<h3>Payment Links</h3>
<p>Normally you'd see payment buttons here, but you don't seem to have an electronic payment option selected...</p>
<% end %>
</div>

<div class="caption">
<%= link_to image_tag(resource.gravatar_url), "https://www.gravatar.com", :title => "Adjust your photo at Gravatar.com" %><br/>
Adjust your photo <br/>at Gravatar.com
</div>

<%= render :partial => "user", :locals => { :resource => resource, :html => { :method => :put }, :button_label => "Update Profile" } %>

<%= render "devise/shared/links" %>


<%= link_to "Back", :back %>
