<%= form_for @resource_category, :html => { :multipart => true } do |f| %>
  <% if @resource_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource_category.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit nil, class: "btn btn-primary" %>
  </p>
<% end %>

