<div class="row">
  <h1 class="col-md-8">
    Contract
    <%= link_to 'Back', contracts_path, :class => "btn btn-default" %>
    <%= link_to 'New', new_contract_path, :class => "btn btn-success" %>
    <%= link_to 'Edit', edit_contract_path(@contract), :class => "btn btn-primary" %>
    <%= link_to 'Delete', contract_path(@contract), {:confirm => 'Are you sure you want to delete this forever?', :method => :delete, :class => "btn btn-danger"} if can? :destroy, @contract %>
  </h1>
</div>


<h2>
  <%= @contract.first_name %> 
  <%= @contract.last_name %> 
  <%= "and #{@contract.cosigner}" unless @contract.cosigner.blank? %>
  <%= link_to "(#{@contract.user.name})", @contract.user if @contract.user %>
  <small>
    signed
    <%= @contract.signed_at.to_date.to_s(:long) %>
  </small>
</h2>
<% unless @contract.created_by.blank? %>
  <p>
    <em>Created by <%= @contract.created_by.name %></em>
  </p>
<% end %>

<% if @contract.document.blank? %>
  <p>No document uploaded</p>
<% else %>
<p><%= link_to "Download Contract", @contract.document.url %>
  <div class="col-xs-12">
    <% contract_url = (@contract.document.exists?(:large) ? @contract.document.url(:large) : @contract.document.url) %>
    <iframe src="<%= contract_url %>" width="100%" height="600"></iframe>
  </div>
</p>
<% end %>
         

<br />

