<% if @user.id.blank? then
  this_url = users_create_path
  else
  this_url = user_path(@user)
  end %>
<%= form_for @user, :url => this_url  do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :waiver %><br />
    <%= f.date_select :waiver, :include_blank => 'true', :default => 'nil' %>
  </div>
  <div class="field">
    <%= f.label :orientation %><br />
    <%= f.date_select :orientation, :include_blank => 'true', :default => 'nil' %>
  </div>
  <div class="field">
    <%= f.label :emergency_name %><br />
    <%= f.text_field :emergency_name %>
  </div>
  <div class="field">
    <%= f.label :emergency_phone %><br />
    <%= f.text_field :emergency_phone %>
  </div>
  <div class="field">
    <%= f.label :emergency_email %><br />
    <%= f.text_field :emergency_email %>
  </div>
  <div class="field">
    <%= f.label :member_level %><br />
    <%= f.text_field :member_level %>
  </div>
  <div class="field">
    <%= f.label :payment_method %><br />
    <%= f.text_field :payment_method %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :current_skills %><br />
    <%= f.text_area :current_skills %>
  </div>
  <div class="field">
    <%= f.label :desired_skills %><br />
    <%= f.text_area :desired_skills %>
  </div>
  <% if @user.id.blank? || !params[:password].nil? %>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, :autocomplete => "off" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
<% else %>
  <div class="field">
    <a href="?password=edit">Change Password</a>
  </div>
<% end %>
  <div class="field">
    <%= f.label :member, "Member?" %><br />
    <%= f.select :member, [["No",0],["Inactive",1],["Volunteer",10],["Associate",25],["Basic",50],["Plus",100]]  %>
  </div>
  <div class="field">
    <%= f.label :instructor, "Instructor?" %><br />
    <%= f.check_box :instructor %>
  </div>
  <div class="field">
    <%= f.label :admin, "Admin?" %><br />
    <%= f.check_box :admin %>
  </div>
  <div class="field">
    <h3>Cards</h3>
    <ul>
    <% @user.cards.each do |c| %>
      <li><%= link_to "#{c.card_number} #{c.name}", card_url(c) %></li>
    <% end %>
    </ul>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
