<h1>Listing users</h1>

<% if can? :create, User %>
  <%= link_to 'New User', new_user_path %>
<% end %>
<table>
  <col />
  <% if current_user.admin? then %><col /><% end %>
  <col />
  <% if current_user.admin? %><col /><% end %>
  <col class="col_highlight" />
  <col />
  <col class="col_highlight" />
  <col />
  <col class="col_highlight" />
  <tr>
    <th><a href="?sort=name">Name</a></th>
    <% if current_user.admin? then %><th><a href="?sort=email">Email</a></th><% end %>
    <th><a href="?sort=certifications">Certifications</a></th>
    <% if current_user.admin? then %>
    <th><a href="?sort=orientation">Orientation?</a></th>
    <% end %>
    <th><a href="?sort=waiver">Waiver?</a></th>
    <th><a href="?sort=member">Member?</a></th>
    <th><a href="?sort=card">Card?</a></th>
    <th><a href="?sort=instructor">Instructor?</a></th>
    <th><a href="?sort=admin">Admin?</a></th>
    <th></th>
    <th></th>
  </tr>
  
<% if !@users.blank? %>
  <% @users.each do |user| %>
  <tr<%= " class='hidden'" if user.hidden? %>>
    <td><%= link_to user.name, user %></td>
    <% if current_user.admin? then %><td><%= user.email %></td><% end %>
    <td><% user.certifications.each do |c| %>
      <%= link_to c.name, c %><%= "," unless c.id == user.certifications.last.id %>
    <% end %></td>
    <% if current_user.admin? then %><td>
      <%= unless user.orientation.blank? then raw("<span class='hoverinfo' title='"+user.orientation.strftime("%B %d %Y")+"'>&#x2713;</span>") end %>
    </td><% end %>
    <td><%= unless user.waiver.blank? then raw("<span class='hoverinfo' title='"+user.waiver.strftime("%B %d %Y")+"'>&#x2713;</span>") end %></td>
    <td><%= raw(user.member_status) %></td>
    <td><%= unless user.cards.blank? then raw("&#x2713;") end %></td>
    <td><%= if user.instructor? then raw("&#x2713;") end %></td>
    <td><%= if user.admin? then raw("&#x2713;") end %></td>
    <td><%= link_to 'Edit', edit_user_path(user) if can? :update, user %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure? WARNING: THIS DOES NOT REMOVE THE USER FROM THE DOOR SYSTEM! DISABLE THEM FIRST.', :method => :delete if can? :destroy, user %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />
