<<<<<<< HEAD
<p id="notice"><%= notice %></p>
=======
>>>>>>> 03d99741e5b661e63f6281115d2db333082a09b1

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Card DB ID:</b>
  <%= @user.card_id %>
</p>

<p>
  <b>Card Number:</b>
  <%= @user.card_number %>
</p>

<p>
  <b>Card Permissions:</b>
  <%= @user.card_permissions %>
</p>

<<<<<<< HEAD
<%= link_to 'Upload to Door', upload_path(user) %>
=======
<%= link_to 'Upload to Door', upload_path(@user) %>
>>>>>>> 03d99741e5b661e63f6281115d2db333082a09b1
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
