  <link href="/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
  <link href="/bootstrap/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet" />
  <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript" ></script> 

<style type="text/css">
  .users .thumbnail {
    height: 200px;
    position: relative;
  }
  .users .badges { position: absolute; top: 125px; }
  .users .thumbnail h4 { position: absolute; bottom: 1px; margin-bottom: 1px; }

</style>

<h1>HeatSync People
<%= link_to 'Full Table View', {:controller => "users", :full => "full"}, class: "btn btn-primary" %>
</h1>

<% if can? :create, User %>
  <%= link_to 'New User', new_user_path %> |
<% end %>
<% if can? :manage, User %>
  <%= link_to 'Merge Users', users_merge_path %> |
<% end %>
<% if current_user.admin? %>
  <%= link_to 'Inactive Users', users_inactive_path %> |
<% end %>
<% if can? :activity, User %>
  <%= link_to 'Recent Activity', users_activity_path %> |
<% end %>
<% if can? :new_member_report, User %>
  <%= link_to 'New Members Report', users_new_member_report_path %>
<% end %>



<div class="users">
  <%= render @users.sort_by(&:member_status).reverse %>
</div>

<% if current_user.orientation.blank? then %>
<p class="alert">There's a lot more to see here, but our records show you haven't completed the new member orientation yet. If that's incorrect, please contact a volunteer.</p>
<% end %>

<br />
