<script src="https://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="/wymeditor/wymeditor/jquery.wymeditor.min.js"></script>
<script type="text/javascript">
$(function(){
  $('.wysiwyg').wymeditor();
});
</script>
<%= form_tag(setting_path(@setting[:var]), :method => :put) do %>
  <h3>Editing <%= @setting[:var].titleize %></h3>
  <div class="field">
    <%= text_area_tag :value, @setting[:value], :cols => 50, :class => "wysiwyg" %><br/>
  </div>
  <em>Note: there is a /more_info page you can link to for wysiwyg purposes.</em>
  <div class="field">
    <%= submit_tag "Save", {:class => "wymupdate"} %><br/>
    <%= link_to "Back", settings_path %>
  </div>
<% end %>
