<p>
  <b>Name:</b>
  <%= @certification.name %>
</p>

<p>
  <b>Slug (lowercase, single-word identifier):</b>
  <%= @certification.slug %>
</p>

<p>
  <b>Description:</b>
  <%= simple_format @certification.description %>
</p>

<p>
  <b>Certified Users:</b>
  <%= link_to "Click Here", user_certifications_path %>
</p>

<% if can? :update, @certification %><%= link_to 'Edit', edit_certification_path(@certification) %> |<% end %>
<%= link_to 'Back', certifications_path %>
