<h1>Listing payments</h1>

<p>
<b>Create Payments:</b>
<%= link_to 'Manually', new_payment_path %> |
<%= link_to 'Batched CSV', paypal_csvs_path %> |
<%= link_to 'IPN', ipns_path %>
</p>

<table>
  <tr>
    <th>Payee</th>
    <th>User</th>
    <th>Member level</th>
    <th>Last Payment</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payments.each do |payment| %>
  <tr>
    <td><%= payment.user.payee unless payment.user.blank? %></td>
    <td><%= link_to payment.user.name, payment.user unless payment.user.blank? %></td>
    <td><%= payment.user.member_level_string unless payment.user.blank? %></td>
    <td><%= payment.date %></td>
    <td><%= payment.amount %></td>
    <td><%= link_to 'Details', payment %></td>
    <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
  </tr>
<% end %>
</table>


