<%= form_for(@user_certification) do |f| %>
  <% if @user_certification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_certification.errors.count, "error") %> prohibited this User Certification from being saved:</h2>

      <ul>
      <% @user_certification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id, "User" %><br />
    <%= collection_select(:user_certification, :user_id, @users, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :certification_id, "Certification" %><br />
    <%= collection_select(:user_certification, :certification_id, @certifications, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
