<h1>Listing User Certifications</h1>

<%= link_to 'New User Certification', new_user_certification_path %>

<dl>
  <% @grouped_user_certs.sort.each do |user, user_certifications| %>
    <dt><%= user %></dt>
    <% user_certifications.each do |user_certification| %>
      <dd>
        <%= link_to user_certification.certification.name, user_certification %> | 
        <%= link_to 'Edit', edit_user_certification_path(user_certification) %> |
        <%= link_to 'Destroy', user_certification, :confirm => 'Are you sure?', :method => :delete %>
      </dd>
    <% end %>
<% end %>
</dl>

