<h1>Listing user_certifications</h1>

<table>
  <tr>
    <th>User</th>
    <th>Certification</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_certifications.each do |user_certification| %>
  <tr>
    <td><%= user_certification.user_id %></td>
    <td><%= user_certification.certification_id %></td>
    <td><%= link_to 'Show', user_certification %></td>
    <td><%= link_to 'Edit', edit_user_certification_path(user_certification) %></td>
    <td><%= link_to 'Destroy', user_certification, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User certification', new_user_certification_path %>
