<p>
  <b>User:</b>
  <%= @user_certification.user.name %>
</p>

<p>
  <b>Certification:</b>
  <%= @user_certification.certification.name %>
</p>

<p>
  <b>Created:</b> by <%= link_to @created_by.name, @created_by unless @created_by.blank? %>
  at <%= @user_certification.created_at %> 
</p>

<p>
  <b>Updated:</b> by <%= link_to @updated_by.name, @updated_by unless @updated_by.blank? %>
  at <%= @user_certification.updated_at %> 
</p>

<p>
<% if can? :update, @user_certification %>
  <%= link_to 'Edit', edit_user_certification_path(@user_certification) %> |
<% end %>

<% if can? :destroy, @user_certification %>
  <%= link_to 'Delete', @user_certification, :confirm => "Are you sure you want to destroy this user's certification?", :method => :delete %> | 
<% end %>

<%= link_to 'Back', user_certifications_path %>
</p>
