<h1>Access Cards</h1>

<%= link_to 'New Card', new_card_path if can? :create, Card %>
<%= link_to 'Upload all cards', upload_all_path if can? :upload_all, Card %>
<%= link_to 'Door Logs', door_logs_path if can? :read, DoorLog %>
<p>
<b>Most Active Card Last 7 Days:</b> <%= @most_active_card.name %> (<%= @most_active_card.accesses_this_week %> times)
</p>

<table>
  <col />
  <col />
  <col class="col_highlight" />
  <col />
  <col class="col_highlight" />
  <tr>
    <th>User</th>
    <th>Note</th>
    <th>DB ID</th>
    <th>Card #</th>
    <th>Access?</th>
    <th>Accesses Last 7 Days</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
<% if !@cards.blank? %>
  <% @cards.each do |card| %>
  <tr>
    <td><%= link_to card.user.name, card %></td>
    <td><%= card.name %></td>
    <td><%= card.id %></td>
    <td><%= card.card_number %></td>
    <td><%= if card.card_permissions == 1 then "Access" end %></td>
    <td><%= card.accesses_this_week unless card.accesses_this_week < 1 %></td>
    <td><%= link_to 'Upload', upload_path(card) if can? :upload, card %></td>
    <td><%= link_to 'Edit', edit_card_path(card) if can? :update, card %></td>
    <td><%= link_to 'Destroy', card, :confirm => 'Are you sure? WARNING: THIS DOES NOT REMOVE THE CARD FROM THE DOOR SYSTEM! DISABLE AND UPLOAD IT FIRST.', :method => :delete if can? :destroy, card %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />

