<h1>Access Cards</h1>

<%= link_to 'New Card', new_card_path, :class => "btn" if can? :create, Card %>
<%= link_to 'Upload all cards', upload_all_path, :class => "btn" if can? :upload_all, Card %>
<%= link_to 'Door Logs', door_logs_path, :class => "btn" if can? :read, DoorLog %>
<%= link_to 'Space API', space_api_path, :class => "btn" %>
<%= link_to 'Remote Door Access', space_api_access_path, :class => "btn" if can? :access_doors_remotely, :door_access %>
<p>
<b>Most Active Card Last Month:</b> <%= @most_active_card.user.name unless @most_active_card.user.blank? %> (<%= @most_active_card.accesses_this_week unless @most_active_card.blank? %> days)
</p>
<p>
<% unless @runner_up_card.blank? || @runner_up_card.user.blank? %>
<b>Runner Up:</b> <%= @runner_up_card.user.name %> (<%= @runner_up_card.accesses_this_week %> days)
<% end %>
</p>

<table class="lined-table">
  <col />
  <col />
  <col class="col_highlight" />
  <col />
  <col class="col_highlight" />
  <tr>
    <th>User</th>
    <th>Note</th>
    <th>DB ID</th>
    <th>Card #</th>
    <th>Access?</th>
    <th>Days Accessed Last Month</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
<% if !@cards.blank? %>
  <% @cards.each do |card| %>
  <tr>
    <td>
      <% if card.user.nil? %>
        n/a
      <% else %>
        <%= raw(card.user.member_status_symbol) %>
        <%= link_to card.user.name , card %>
      <% end %>
    </td>
    <td><%= card.name %></td>
    <td><%= card.id %></td>
    <td><%= card.card_number %></td>
    <td><%= if card.card_permissions == 1 then "Access" end %></td>
    <td><%= card.accesses_this_week unless card.accesses_this_week < 1 %></td>
    <td><%= link_to 'Upload', upload_path(card) if can? :upload, card %></td>
    <td><%= link_to 'Edit', edit_card_path(card) if can? :update, card %></td>
    <td><%= link_to 'Destroy', card, :confirm => 'Are you sure? WARNING: THIS DOES NOT REMOVE THE CARD FROM THE DOOR SYSTEM! DISABLE AND UPLOAD IT FIRST.', :method => :delete if can? :destroy, card %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />

