<!DOCTYPE html>
<html>
<head>
  <title>hsl_members(<%= controller.controller_name %>.<%= controller.action_name %><%=  "["+params[:id]+"]" unless params[:id].blank? %>)</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <a href="/" title="Home"><img src="/assets/logo.png" id="logo" /></a>
    <%= link_to 'People', users_path if can? :read, User %>
    <%= link_to 'Access Cards', cards_path if can? :manage, Card %>
    <% if can? :manage, UserCertification %>
      <%= link_to 'Cert Classes', certifications_path if can? :read, Certification %>
      <%= link_to 'User Certs', user_certifications_path if can? :create, UserCertification %>
    <% else %>
      <%= link_to 'Certifications', certifications_path if can? :read, Certification %>
    <% end %>
    <%= link_to 'Door Logs', door_logs_path if can? :read, DoorLog %>
    <% if user_signed_in? then %><%= link_to 'Profile', edit_user_registration_path %><% end %>
    <%= link_to 'Logout', destroy_user_session_path, :method => :delete if user_signed_in? %>
    <%= link_to 'Login', new_user_session_path unless user_signed_in? %>
    <%= link_to 'Become a Member', new_user_registration_path unless user_signed_in? %>
  </div>
  <div id="content">
    <p class="notice"><%= raw(notice) %></p>
    <p class="alert"><%= raw(alert) %></p>
<%= yield %>
  </div>
</body>
</html>
