<!DOCTYPE html>
<html>
<head>
  <title>Dooraccess</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <%= link_to 'Users', users_path if user_signed_in? %>
    <%= link_to 'Logs', door_logs_path if user_signed_in? %>
    <%= link_to 'Profile', edit_user_registration_path if user_signed_in? %>
    <%= link_to 'Sign out', destroy_user_session_path, :method => :delete if user_signed_in? %>
    <%= link_to 'Sign in', new_user_session_path unless user_signed_in? %>
    <%= link_to 'Sign up', new_user_registration_path unless user_signed_in? %>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
